extends layout

block content
  div.background
  div.statusbar
    div.date
      p.dateText
    div
    div.clock
      p.clockText
    div.homeTemperature
      p.homeTempText
  script(src="/js/app.js" type="text/javascript")
  
